@font-face {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 700;
  src: url("../funbox-test/font/TrebuchetMS-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  src: url("../funbox-test/font/TrebuchetMS.woff") format("woff");
  font-display: swap;
}

:root {
--default: #1698d9;
--hover: #2ea8e6;
--selected: #d91667;
--selected-hover: #e52e7a; 
--font-grey: #666;
--font-black: #000;
--font-white: #fff;
--font-disabled: #b3b3b3;
--font-yellow: #ffff66;
--background-color: #f2f2f2;
}

html {
  box-sizing:border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-image: url("./img/Pattern.png");
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hedaer__title {
  margin: 36px 0 24px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: var(--font-white);
  text-shadow: 0px 1px 1px var(--font-black);
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.card-border {
  position: relative;
  width: 328px;
  height: 488px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  background-color:var(--default);
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.card {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 320px;
  height: 480px;
  padding-left: 48px;
  background-color: var(--background-color);
  background-image: url("./img/Photo.png");
  background-repeat: no-repeat;
  background-position: center 213px;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  overflow:hidden; 
  cursor: pointer;
}

.card__hero-text {
  padding: 21px 0 5px;
  color: var(--font-grey);
}

.card__title {
  font-size: 48px;
  font-weight: 700;
}

.card__subtitle {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.card__description {
  font-size: 14px;
  font-weight: 700;
  color: var(--font-grey);
}

.card__oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--default);
  color: var(--font-white);
  transition: all .3s ease-in-out;
}

.oval-content-num {
  font-size: 42px;
  line-height: 42px;
}

.oval-content-text {
  font-size: 21px;
  line-height: 22px;
}

.card-tagline {
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--font-white);
}

.card-tagline__btn {
  color: var(--default);
  text-decoration: underline dotted;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.background-hover {
  background-color: var(--hover);
}

.text-hover {
  color: var(--hover);
}

.card-tagline__btn:hover {
  color: var(--hover);
}

.background-selected {
  background-color: var(--selected);
}

.text-selected {
  color: var(--selected);
}

.background-selected-hover {
  background-color: var(--selected-hover);
}

.text-selected-hover {
  color: var(--selected-hover);
}

.disabled,
.reload {
  display: flex;
  justify-content: center;
  margin: auto;
}

.card-disabled {
  background-image: url("./img/Photo-50.png");
  color: var(--font-disabled);
  cursor: auto;
}

.text-disabled {
  color: var(--font-disabled);
}

.text-disabled-yellow {
  color: var(--font-yellow);
}

.background-disabled {
  background-color: var(--font-disabled);
}
